In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox

pd.options.display.max_rows = 100

In [16]:
def lower_case_column_names(x):
    x.columns=[i.lower() for i in x.columns]
    return x

In [17]:
file1 = pd.read_csv("Data/file1.csv")
file1 = lower_case_column_names(file1)
file1.rename(columns={"st":"state", "customer lifetime value":"customer_ltv"}, inplace = True)
# file1.head()

In [18]:
file2 = pd.read_csv("Data/file2.csv")
file2 = lower_case_column_names(file2)
file2.rename(columns={"st":"state", "customer lifetime value":"customer_ltv"}, inplace=True)
file2 = file2[["customer", "state", "gender", "education", "customer_ltv", "income", "monthly premium auto", "number of open complaints", "policy type", "vehicle class", "total claim amount"]]
# file2.head()

In [19]:
file3 = pd.read_csv("Data/file3.csv")
file3 = lower_case_column_names(file3)
file3.rename(columns={"customer lifetime value":"customer_ltv"}, inplace=True)
file3 = file3[["customer", "state", "gender", "education", "customer_ltv", "income", "monthly premium auto", "number of open complaints", "policy type", "vehicle class", "total claim amount"]]
# file3.head()

In [20]:
def combining_files():
    return pd.concat([file1,file2,file3], axis=0)

In [21]:
df = combining_files()
df.drop(["customer"], axis=1, inplace=True)
# df

In [22]:
print("state -> ", df["state"].unique())
print("gender -> ", df["gender"].unique())
print("education -> ", df["education"].unique())
print("policy type -> ", df["policy type"].unique())
print("vehicle class -> ", df["vehicle class"].unique())

state ->  ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
gender ->  [nan 'F' 'M' 'Femal' 'Male' 'female']
education ->  ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
policy type ->  ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
vehicle class ->  ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [14]:
df['state'] = df['state'].replace(['AZ', 'WA', 'Cali'],['Arizona', 'Washington', 'California'])
df["state"].unique()

array(['Washington', 'Arizona', 'NV', 'CA', 'OR', 'California', nan],
      dtype=object)